.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-section{
  background-color: #CDCECC;
  padding: 35px;
}

.container .row {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}
.my-2 {
  padding: 1%;
  display: flex;
  justify-content: center;
}
.mx-auto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.card {
  display: flex;
  padding-bottom: 20px;
}

.other-drinks {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.header{
  padding: 15px;
  background-color: #9C7658;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 25px;
}

.footer{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-basis: 100%;
  padding: 15px;
  background-color: #9C7658;
}

.social-medias{
  max-width: 60%;
}

.social-medias img{
  width: 20%;
  height: auto;
  padding: 15px;
}

.footnotes{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}